{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form{
        padding-left: 70px !important;
        padding-top: 150px !important;
    }
    .button{
        padding-left: 70px !important;

    }
    .word{
        color: white !important;
    }
    
</style>

<div class="card text-white bg-dark mb-3">
    <div class="card-body">
        <div class=" content-section">

            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="form form-group">
                    <h1  class="word">Reset Password</h1>
                    
                    {{ form|crispy }}

                </div>
        
                <div class=" button form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                </div>
        
            </form>
        
        </div>

    </div>
  </div>



{% endblock content %}