{% include 'head.html' %}


<style>
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .words{
    color: black;
    font-size: larger;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="card"] {
      width: 400px;
      margin-left: 50px;
      margin-right: 50px;

    }
  }
</style>

<div class="card bg-warning mb-3">
  <div class="container">
    <h1>Reset yourpassword</h1>

    <div class="words">
    <p>We've emailed you instructions for setting your password.</p>
    <hr>
    <p>
      If you don't receive an email, please make sure you've entered the address you
      registered with.
    </p>
    <hr>
    </div>
    

    <a href="{% url 'account:login' %}" class="btn btn-primary">Go to Login</a>

  </div>
</div>

{% include 'scripts.html' %} 

